<% if admin? %>
  <h1>Welcome Administrator!</h1>
<% end %>
<h1>Favorite Locations</h1>
<div class="user-list">
  <ul>
    <% @locations.each do |location| %>
      <li><%= image_tag location.image.url(:medium) %></li>
      <li><%= link_to location.name, location_path(location) %></li>
    <% end %>
  </ul>
</div>
