<div id="msw-data"></div>

<script>

window.onload = function(){
  getSpotData("1", createImageElements, "swell");
  getSpotData("1", createImageElements, "pressure");
  getSpotData("1", createImageElements, "wind");
}


</script>