/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
  box-sizing: border-box;
}

 .instagram {
  text-align: center;
 }

.instagram-placeholder {
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
}

.ms-img-placeholder {
  box-sizing:border-box;
  padding: 10px;
  display: inline-block;
  width: 200px;
  height: 200px;
  display: inline-block;
}

.ms-img-placeholder img {
  width: 100%;
}

.msw-data {
  text-align: center;
}

.day-month, .time {
  border: 1px solid black;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  float: left;
  margin:5px;
}

.stats-placeholder {
  width: 50%;
  float: left;
  text-align: center;
}

.day-stats {
  background: grey;
}

.time-related-stats {
  width: 11.11111111111111%;
  float: left;
}

.time-related-stats li {
  border: 1px solid black;
}

.stats-placeholder h3 {
  margin: 0;
  padding: 10px;
}

.stats {
  height: 40px;
  line-height: 35px;
}

.stats.title {
  line-height: 18px;
}

.stats-placeholder li {
  margin: 0;
  width: 100%;
}

li.wind-direction {
  color: transparent;
  position: relative;
}

li.wind-direction img {
  position: absolute;
  top: 8%;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  rotate: 180eg;
  transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(180deg);
}