<h1>PerfSurf Users</h1>

<div class="users">
  <ul>
    <% @users.each do |user| %>
      <% if user.admin == true %>
        <li><%= user.email %>: Administrator</li>
      <% else %>
        <li><%= user.email %> <%= link_to "Delete User", admin_user_path(user), :method => :delete %></li>
      <% end %>
    <% end %>
  </ul>
</div>

