<%= link_to "All Locations", admin_locations_path %>
<h1>PerfSurf Users</h1>

<ul>
  <% @users.each do |user| %>
    <li><%= user.email %></li>
    <%= link_to "Delete User", admin_user_path(user), :method => :delete %>
  <% end %>
</ul>

