<h1>Locations Index for Users</h1>

<ul>
  <% @locations.each do |location| %>
    <li><%= link_to location.name, location_path(location) %></li>
  <% end %>
</ul>

<div id="map" style="height:600px; width:100%;"></div>

<!-- <img src='<%= asset_path "usa-map.svg" %>' > -->

<script>
window.onload = function(){
 
  var po = org.polymaps;

  var map = po.map()
    .container(document.getElementById("map").appendChild(po.svg("svg")))
    .add(po.interact());

  map.add(po.image()
    .url(po.url("http://{S}tile.cloudmade.com"
    + "/a3dfd94d4daf4954b831ca111bf6d2fd"
    + "/998/256/{Z}/{X}/{Y}.png")
    .hosts(["a.", "b.", "c.", ""])));

}


</script>
