<h1>Locations Index for Users</h1>

<ul>
  <% @locations.each do |location| %>
    <li><%= link_to location.name, location_path(location) %></li>
    <li><%= location.msw_id %></li>
  <% end %>
</ul>

<div id="map"></div>