

<!-- <div id="wrapper">
  <h1 id="name"><%= @location.name %></h1>
  <h3 id="latitude"><%= @location.latitude %></h3>
  <h3 id="longitude"><%= @location.longitude %></h3>
</div> -->

<div id="location" data-location-id="<%= @location.id %>" >

</div>

<script>
$(window).load(function(){

  var locationId = $("#location").data("location-id");
  // Use AJAX to get the rest of the info from the database

  getPerfSurfLocation(locationId, loadLocation);

  

});

</script>




